<%- include("./partials/header")%>
<!--Main Page-->
<div class="container">
  <!-- <h1>Myself,Onkar!</h1> -->
  <div class="jumbotron">
    <h1 class="display-4">Myself, Onkar!</h1>
    <p class="lead">
        I am a final year undergraduate student of Birla Institute of Technology. I am a competitive programmer and love problem solving using Data Structures and advanced Algorithms. I am sound with core computer science subjects such as Operating Systems, Networking and Database Management Systems.
         <br />
        Currently I am Interning with Menlo Security India in the FwaaS team on various technologies.
        <br />
        Besides this I have been a state player in Cricket in the under 16's :)
        <br />
        My hobbies are writing and photography.
    </p>
    <hr class="my-4" />
    <a class="btn btn-primary btn-lg btn-floating" style="background-color: #0082ca;" href="https://www.linkedin.com/in/onkar-sawarna-569615187/" target= "_blank" role="button">
        linkedIn<i class="fab fa-linkedin-in"></i>
      </a>
      <a class="btn btn-primary btn-lg btn-floating" style="background-color: #dd4b39;" href="mailto:onkarsawarna@gmail.com" target= "_blank" role="button">
        email<i class="fab fa-google"></i>
      </a>
  </div>
</div>
<%- include("./partials/footer")%>