<%- include("./partials/header")%>
<!--Main Page-->
<div class="container">
  <h1 style="color:#505050;">Movie Search Application!</h1>
  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">
      This is a Movie search application, where users can search for
      their favourite movie and essential information about them :)
    </p>
    <hr class="my-4" />
    <p>This is created by Onkar Sawarna.</p>
    <a class="btn btn-primary btn-lg btn-floating" style="background-color: #0082ca;" href="https://www.linkedin.com/in/onkar-sawarna-569615187/" target= "_blank" role="button">
      linkedIn<i class="fab fa-linkedin-in"></i>
    </a>
  </div>
</div>
<%- include("./partials/footer")%>


